body.darkMode {
	background-color: #313347 !important;
}

.darkMode .navbar {
    background-color: #212529 !important;
}

.darkMode .jumbotron {
	filter: grayscale(45%);
}
.darkMode .card {
	background-color: #3c3e53 !important;
}
.darkMode .about-us p {
	color: #ccc;
}
.darkMode .form-control {
	background-color: #313347;
}
.darkMode input::placeholder, .darkMode textarea::placeholder {
    color: #999;
}
.darkMode input, .darkMode textarea {
	color: #ccc;
}
.darkMode .navbar-toggler {
	color: #fff;
	background-color: #fff;
}

.darkMode .svg-about {
	fill: #2A2B3C !important;
}

.darkMode #features {
	background-color: #2A2B3C !important;
}
.darkMode .svg-features {
	fill: #313347 !important;
}

.darkMode .svg-footer {
	fill: #212529 !important;
}
.darkMode footer {
	background-color: #212529 !important;
}
.darkMode footer p {
	color: #19AA95;
}